<!DOCTYPE html>
<html lang="en">

<head>
    <title>Feeds App</title>
    <meta charset="UTF-8">
    <link href="images/icons/favicon.ico" rel="icon">
    <link href="libs/bootstrap.min.css" rel="stylesheet">
    <link href="libs/angular-material.min.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
</head>

<body>
    <div ng-app="feedsApp" ng-cloak>
        <div layout="column" ng-controller="feedsCtrl as vm">
            <!--Header-->
            <md-toolbar layout="row" layout-align="space-between center" class="md-toolbar-tools">
                <h1>Feeds App - Karim Riahi</h1>
                <div>
                    <md-button aria-label="github" class="md-icon-button" href="https://github.com/RiahiKarim/feeds-app">
                        <md-tooltip>Fork me</md-tooltip>
                        <md-icon class="scale" md-svg-icon="images/icons/github.svg" alt="github"></md-icon>
                    </md-button>
                    <md-button aria-label="linkedin" class="md-icon-button" href="https://ma.linkedin.com/in/karim-riahi-ab128410a">
                        <md-tooltip>View My Profile</md-tooltip>
                        <md-icon class="scale" md-svg-icon="images/icons/linkedin.svg" alt="linkedin"></md-icon>
                    </md-button>
                    <md-button aria-label="mail" class="md-icon-button" href="mailto:riahikarim@outlook.com?Subject=Feeds%20app">
                        <md-tooltip>Contact me</md-tooltip>
                        <md-icon class="scale" md-svg-icon="images/icons/mail.svg" alt="mail"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <!--End Header-->
            <!-- Feeds Section-->
            <div>
                <div class="inset" hide-sm></div>
                <div class="inset"></div>
                <div layout="row" layout-align="center center">
                    <md-list flex-gt-sm="90" flex-gt-md="60">
                        <!-- Form to filter feeds-->
                        <div class="inset feeds-header" layout="row" layout-align="space-between center">
                            <!--Search field-->
                            <div flex="65">
                                <md-input-container md-no-float class="md-block searchBar">
                                    <md-icon class="search" md-svg-src="images/icons/search.svg"></md-icon>
                                    <input ng-model="vm.search" type="text" placeholder="Search">
                                    <div class="search-results">Videos displayed {{ (filtredFeeds.length > vm.numberOfFeedsToDisplay) ? vm.numberOfFeedsToDisplay : filtredFeeds.length}}/{{filtredFeeds.length}}</div>
                                </md-input-container>
                            </div>
                            <div flex="35" layout="row" layout-align="space-between center">
                                <!-- popular video checkbox-->
                                <div>
                                    <md-checkbox ng-model="vm.showPopular" aria-label="Popular videos">
                                        Most liked
                                    </md-checkbox>
                                    <md-tooltip>More than {{vm.config.popularVideos | shortNumber}} likes</md-tooltip>
                                </div>
                                <div>
                                    <md-button  ng-repeat="numberOfFeedsToDisplay in vm.defaultViews track by $index"
                                                aria-label="Show {{numberOfFeedsToDisplay}} Feeds"  
                                                class="md-raised md-mini md-icon-button" 
                                                ng-class="{'md-primary' : vm.numberOfFeedsToDisplay  == numberOfFeedsToDisplay}"
                                                ng-click="vm.displayFeeds(numberOfFeedsToDisplay)">
                                        <md-tooltip>Display {{numberOfFeedsToDisplay}} Feeds</md-tooltip>{{numberOfFeedsToDisplay}}
                                    </md-button>
                                </div>
                            </div>
                        </div>
                        <!-- Form to filter feeds-->
                        <md-list-item   class="md-clickable" 
                                        ng-repeat="feed in vm.feeds | filter:{video : {description : vm.search}} | filter:vm.popularFeeds() as filtredFeeds  track by $index"
                                        ng-if="$index < vm.numberOfFeedsToDisplay">
                            <md-card flex>
                                <md-card-title>
                                    <md-card-title-media>
                                        <a href="{{feed.author.link}}" class="md-media-sm card-media">
                                            <img ng-src="{{feed.author.image.link}}" alt="{{feed.author.name}}" class="img-thumbnail">
                                        </a>
                                    </md-card-title-media>
                                    <md-card-title-text>
                                        <span class="md-title"><a href="{{feed.author.link}}">{{feed.author.name}}</a> uploaded.</span>
                                        <div ng-if="vm.config.displayIframeVideos" ng-bind-html="feed.video.embedVideo | trustHTML"></div>
                                        <div layout="row" layout-align="space-between center">
                                            <a flex="70" href="{{feed.video.link}}" class="video-name">{{feed.video.name}}</a>
                                            <div class="video-data" flex="30">
                                                <span>
                                                    <md-button aria-label="plays" class="md-icon-button">
                                                        <md-icon class="plays" md-svg-icon="images/icons/plays.svg" alt="plays"></md-icon>
                                                    </md-button>
                                                    {{feed.video.numberPlays | shortNumber}}
                                                    <md-tooltip>{{feed.video.numberPlays}} Plays</md-tooltip>
                                                </span>
                                                <span>
                                                    <md-button aria-label="likes" class="md-icon-button">
                                                        <md-icon class="like" md-svg-icon="images/icons/likes.svg" alt="likes"></md-icon>
                                                    </md-button>
                                                    {{feed.video.numberLikes | shortNumber}}
                                                    <md-tooltip>{{feed.video.numberLikes}} Likes</md-tooltip>
                                                </span>
                                                <span>
                                                    <md-button aria-label="comments" class="md-icon-button">
                                                        <md-icon  md-svg-icon="images/icons/comments.svg" alt="comments"></md-icon>
                                                    </md-button>
                                                    {{feed.video.numberComments | shortNumber}}
                                                    <md-tooltip>{{feed.video.numberComments}} Comments</md-tooltip>
                                                </span>
                                            </div>
                                        </div>
                                        <span class="md-subhead video-description">
                                            {{feed.video.description}}
                                        </span>
                                    </md-card-title-text>
                                </md-card-title>
                            </md-card>
                        </md-list-item>
                        <div ng-if="vm.numberOfFeedsToDisplay < filtredFeeds.length" class="inset feeds-header" layout="row" layout-align="center center">
                            <md-button ng-click="vm.showMoreFeeds()" aria-label="show more">
                                Show More
                            </md-button>
                        </div>
                    </md-list>
                </div>
                <div class="inset" hide-sm></div>
                <div class="inset"></div>
            </div>
            <!-- End Feeds Section-->
        </div>
    </div>

    <!-- Vendor libraries -->
    <script src="libs/angular.min.js"></script>
    <script src="libs/angular-animate.min.js"></script>
    <script src="libs/angular-aria.min.js"></script>
    <script src="libs/angular-sanitize.min.js"></script>
    <!-- AngularJS Material-->
    <script src="libs/angular-material.min.js"></script>
    <script src="libs/lodash.min.js"></script>
    <!-- Application Files -->
    <script src="scripts/feedsApp.js"></script>
    <script src="scripts/providers/config.js"></script>
    <script src="scripts/controllers/feedsController.js"></script>
    <script src="scripts/services/feedsService.js"></script>
    <script src="scripts/services/Objects/Author.js"></script>
    <script src="scripts/services/Objects/Video.js"></script>
    <script src="scripts/services/Objects/Feed.js"></script>
    <script src="scripts/filters/filters.js"></script>
</body>

</html>